body{
    background-image: url(https://wallpaperplay.com/walls/full/1/5/3/18340.jpg);
    text-align: left;
}

.body-text{ 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.box > img {
    width: 100%
}

